.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 7%;
    background-color: rgba(255, 255, 255, 0.8); 
    backdrop-filter: blur(10px); 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease, padding 0.3s ease;
  }
  
  .logo {
    cursor: pointer;
    width: 100px;
    border-radius: 3px;
  }
  
  ul {
    flex: 1;
    list-style: none;
    text-align: center;
  }
  
  ul li {
    display: inline-block;
    margin: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
    color: #0b0a0a;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #4f91f5;
  }
  
  .toggle-icon {
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
  }
  
  .dark .navbar {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    backdrop-filter: blur(10px);
  }
  
  .dark a {
    color: #f0f0f0;
  }
  
  .icon {
    font-size: 1.8rem;
    cursor: pointer;
    display: none;
  }
  
  @media (max-width: 768px) {
    .icon {
      display: block;
    }
  
    .nav-link {
      display: none;
      flex-direction: column;
      background-color: rgba(167, 207, 242, 0.95);
      position: absolute;
      width: 60%;
      top: 60px;
      right: 0;
      z-index: 10;
      text-align: center;
      border-radius: 8px 0 0 8px;
      box-shadow: -2px 4px 12px rgba(0, 0, 0, 0.15);
    }
  
    .dark .nav-link {
      background-color: rgba(0, 0, 0, 0.95);
    }
  
    .nav-link.active {
      display: flex;
      transition: all 0.3s ease-in;
    }
  
    ul li {
      margin: 15px 0;
    }
  }
  